.container {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  height: 70px;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background: #fff;
}
.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 50px;
}

.actions {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .container {
    height: 70px;
    padding: 0px 10px;
  }
  .logo img {
    height: 25px;
    min-width: unset;
  }
}
